/**
 * Adapted from @mantine/core
 * Source: packages/@mantine/core/src/components/Stack/Stack.module.css
 * Upstream: https://github.com/mantinedev/mantine (master @ 63dafbbf, 2026-04-25)
 * License: MIT — see THIRD-PARTY-LICENSES.md at repo root
 */
.sb-Stack-root {
  display: flex;
  flex-direction: column;
  align-items: var(--stack-align, stretch);
  justify-content: var(--stack-justify, flex-start);
  gap: var(--stack-gap, var(--spacing-md));
}
