@import "./generated/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
  font-family: var(--font-family-sans);
  margin: 0;
  background: var(--surface-default);
  color: var(--text-default);
}

* {
  box-sizing: border-box;
}
