/**
 * Adapted from @mantine/core
 * Source: packages/@mantine/core/src/components/Paper/Paper.module.css
 * Upstream: https://github.com/mantinedev/mantine (master @ 63dafbbf, 2026-04-25)
 * License: MIT — see THIRD-PARTY-LICENSES.md at repo root
 */
.sb-Paper-root {
  --paper-radius: var(--radius-md);

  outline: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  touch-action: manipulation;
  text-decoration: none;
  border-radius: var(--paper-radius);
  box-shadow: var(--paper-shadow);
  background-color: var(--surface-default);
}

:root {
  --paper-border-color: var(--color-neutral-200);
}

.dark {
  --paper-border-color: var(--color-neutral-700);
}

.sb-Paper-root:where([data-with-border]) {
  border: 1px solid var(--paper-border-color);
}
