@layer soribashi.recipes {
  .root {
    display: flex;
    flex-direction: column;
    gap: var(--sb-stack-gap);
    align-items: var(--sb-stack-align);
    justify-content: var(--sb-stack-justify);
  }
}
