/**
 * Adapted from @mantine/core
 * Source: packages/@mantine/core/src/components/Flex/Flex.module.css
 * Upstream: https://github.com/mantinedev/mantine (master @ 63dafbbf, 2026-04-25)
 * License: MIT — see THIRD-PARTY-LICENSES.md at repo root
 */
.sb-Flex-root {
  display: flex;
  flex-direction: var(--flex-direction, row);
  flex-wrap: var(--flex-wrap, nowrap);
  gap: var(--flex-gap);
  row-gap: var(--flex-row-gap);
  column-gap: var(--flex-column-gap);
  align-items: var(--flex-align);
  justify-content: var(--flex-justify);
}
