.sb-Container-root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.sb-Container-root[data-size='sm']    { max-width: 40rem; }
.sb-Container-root[data-size='md']    { max-width: 48rem; }
.sb-Container-root[data-size='lg']    { max-width: 64rem; }
.sb-Container-root[data-size='xl']    { max-width: 80rem; }
.sb-Container-root[data-size='2xl']   { max-width: 96rem; }
.sb-Container-root[data-size='3xl']   { max-width: 120rem; }
.sb-Container-root[data-size='fluid'] { max-width: none; }

.sb-Container-root[data-px='none'] { padding-left: 0; padding-right: 0; }
.sb-Container-root[data-px='xs']   { padding-left: var(--spacing-xs); padding-right: var(--spacing-xs); }
.sb-Container-root[data-px='sm']   { padding-left: var(--spacing-sm); padding-right: var(--spacing-sm); }
.sb-Container-root[data-px='md']   { padding-left: var(--spacing-md); padding-right: var(--spacing-md); }
.sb-Container-root[data-px='lg']   { padding-left: var(--spacing-lg); padding-right: var(--spacing-lg); }
.sb-Container-root[data-px='xl']   { padding-left: var(--spacing-xl); padding-right: var(--spacing-xl); }
